PORT=5000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=HomeFind-SU
DB_USER=postgres
DB_PASSWORD=your_password

FRONTEND_URL=http://localhost:5175
BACKEND_URL=http://localhost:5000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM="HomeFind SU <your_email@gmail.com>"